body {
    margin: 0;
}

.GNB {
    /* border: 1px solid red; */

    height: 70px;
    width: 100%;

    position: sticky;
    top: 0;
    z-index: 999;

    background-color: white;
}
.GNB #logo {
    position: absolute;
    top: 15px;
    left: 30px;
}
.GNB .size-img {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
}
.GNB .size-img img {
    margin: 0 5px;
}
.GNB .X {
    /* border: 1px solid red; */
    display: inline-block;

    width: 24px;
    height: 24px;
    
    position: absolute;
    top: 23px;
    right: 30px;

    text-align: center;
    line-height: 28px;
}

#logo, .size-img img, #X {
    cursor: pointer;
}

.size-img img:hover, .X:hover {
    cursor: pointer;
    background-color: #c9e4f9;
}


.main .title {
    text-align: center;
    margin: 40px;

    font-size: 40px;
    font-weight: 700;
}
.main .explain {
    /* border: 1px solid red; */
    width: 666px;
    margin: 20px auto;
    font-size: 14px;
    text-align: justify;

    line-height: 1.8em;
}

.level {
    text-align: center;

    margin: 40px;
}
.level .lv {
    /* border: 1px solid red; */
    display: inline-block;

    width: 202.5px;
    height: 215px;
    padding: 30px;

    text-align: left;
}
.level .lv .number {
    width: 80px;
    height: 80px;

    background-color: #82aeb2;
    color: white;
    line-height: 80px;
    font-size: 16pt;

    border-radius: 50%;

    text-align: center;
}

.level .lv .l-title {
    margin: 20px 0;

    font-size: 16pt;
    font-weight: 700;
}
.level .lv .LM {
    display: inline-block;

    font-size: 14px;
    letter-spacing: .1em;

    border-bottom: 2px solid #82aeb2;

    cursor: pointer;
}

.FNB {
    background-color: #333333;
    padding: 46px;

    text-align: center;
    color: white;
    font-size: 12px;
}
.FNB span {
    color: #adcce9;
    text-decoration: underline;
    cursor: pointer;
}