@charset "utf-8";

/*
	SK telecom
	Layout
*/

/* layout */
html {height:100%;}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, input, p, table, th, td, textarea, select {margin:0; padding:0; font:12px/1.4 NanumGothic,ngwoff,ngeot,"돋움",dotum,"맑은고딕","Malgun Gothic","Tahoma","Helvetica","Arial",sans-serif; color:#555; letter-spacing:-0.3px;}
body {/*line-height:1.3em; font-family:'Nanum Gothic'; font-size:12px; */}
table {border-collapse:collapse; border-spacing:0;}
ol, ul {list-style:none;}
a {text-decoration:none;}
img {border:0;}
hr, legend, caption {display:none;}
form input, form select, form label, form img {vertical-align:middle;}
fieldset {border:0 none;}
a {color:#555; text-decoration:none;}
a:hover {background:0 none; text-decoration:none;}
a:active {background:0 none; text-decoration:none;}
em {font-style:normal;}
iframe {margin:0; padding:0;}
button {margin:0; padding:0; border:0 none;}



#header {overflow:hidden; height:90px; border-bottom:1px solid #ccc;}
#container_wrap {min-height:100%; margin:-90px auto -80px;}
* html #container_wrap {height:100%;}
#container {padding:40px 0 80px 0;}
#container:after {content:""; display:block; clear:both;}
#side {float:left; width:199px; min-height:600px; margin:50px 0 0 0; border-right:1px solid #ccc;}
#contents {float:left; width:1000px; margin:50px 0 0 30px;}
#footer {position:relative; height:80px; border-top:1px solid #ccc;}

/* header */
#header h1 {float:left; width:110px; height:90px; padding:0; color:#fff; text-indent: -9000px; background: url(../images/logo.png) no-repeat 0px;}
#header h1 strong {color:#fff;}
#header div.section {display:none;}

