body {
    margin: 0 auto;
}

.back {
    background-color: rgba(254, 254, 255, 0.759);
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

.GNB {
    /* border: 1px solid red; */

    padding: 12px 12px;
    background-color: white;
}

.GNB-logo div {
    display: inline;
    padding: 7px 0 0 5px;
    letter-spacing: -1px;

    font-size: 24px;
    font-weight: 700;
    line-height: 26px;

    vertical-align: top;
}

.main {
    /* border: 1px solid red; */

    display: flex;
    justify-content: space-around;

    background-color: white;
    padding-bottom: 48px;
}

.main-left {
    /* border: 1px solid green; */

    width: 641px;
    box-sizing: border-box;
    padding: 48px 12px 0;
}

.main-left-title {
    font-size: 40px;
    font-weight: 500;

    margin-bottom: 16px;
}

.main-left-explain {
    color: rgb(76, 82, 125);
    font-size: 20px;
    font-weight: 400;

    margin-bottom: 24px;
}

.main-left-button button {
    border: none;
    outline: none;
    border-radius: 24px;

    width: 150px;
    height: 50px;
    line-height: 40px;

    font-size: 15px;
    font-weight: 700;

    margin-right: 15px;
}

#main-left-button-buy {
    background-color: rgb(229, 87, 19);
    color: white;
}

#main-left-button-learn {
    border: 2px solid rgb(229, 87, 19);
    color: rgb(229, 87, 19);
    background-color: white;
}

#main-left-button-learn:hover {
    background-color: rgb(229, 87, 19);
    color: white;
}


.main-left-review {
    color: rgb(76, 82, 125);
    display: flex;
    flex-wrap: wrap;

    position: relative;
}

.main-left-review div {
    background-color: white;
}

[class^=main-left-review-text] {
    padding: 24px;
    margin: 24px 0 40px 0;

    background-color: rgb(246, 248, 252) !important;
    border-left: 4px solid rgb(245, 167, 130);

    font-style: italic;
}

[class^=main-left-review-profile] {
    display: flex;
    align-items: center;

    font-size: 14px;
    color: rgb(111, 117, 167);
}

[class^=main-left-review-profile] img {
    width: 60px;
    height: 60px;

    border-radius: 50%;

    margin-right: 15px;
}

.main-left-review button {
    width: 10px;
    height: 10px;
    padding: 0;

    margin-top: 40px;

    background-color: rgb(76, 82, 125);
    background-color: rgb(139, 145, 190);

    border: none;
    outline: none;
    border-radius: 50%;

    order: 10;

    cursor: pointer;
}

.main-left-review-button-first {
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translate(-10px, 0px);
}

.main-left-review-button-second {
    position: relative;
    bottom: 0;
    left: 50%;
}

.main-left-review-button-third {
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translate(10px, 0px);
}

.main-left-review-second,
.main-left-review-third {
    position: absolute;
    top: 0;

    opacity: 0;
}

.main-left-review button+div {
    transition: all 0.5s;
}

.main-left-review button:hover+div {
    opacity: 1;
    z-index: 10;
}



.main-right {
    text-align: center;
}

.main-right-book img {
    width: 451px;
    height: 634px;
}

.main-right {
    position: relative;
}

.main-right-new {
    width: 120px;
    height: 120px;
    background-color: rgb(92, 179, 119);
    border-radius: 50%;
    box-sizing: border-box;

    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    padding-top: 34px;
    color: white;

    display: flex;
    justify-content: center;
    text-align: center;

    position: absolute;
    top: 0;
    right: 0;
    transform: translate(10%, -20%);

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
}

.main-right-see {
    color: rgb(28, 30, 46);
    text-decoration: underline rgba(28, 30, 46, 0.3);

    font-size: 15px;
    font-weight: 400;
}



.get {
    padding: 110px 80px;

    text-align: center;
    /* overflow: hidden; */
}

.get-title {
    margin-bottom: 16px;

    font-size: 40px;
    font-weight: 700;
}

.get-explain {
    width: 760px;
    margin: 0 auto;

    color: rgb(76, 82, 125);
    font-size: 20px;
    font-weight: 400;
}

.get-section {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.get-section>div {
    padding: 24px;
    width: 308px;
}

.get-section-svg {
    height: 48px;
}

.get-section-title {
    font-size: 18px;
    font-weight: 700;

    margin-bottom: 8px;
}

.get-section-explain {
    color: rgb(76, 82, 125);
    font-size: 16px;
    font-weight: 400;
}







.included {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.included-title {
    width: 100%;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 48px;
}

.included-image {
    display: inline-block;
    vertical-align: top;
}

.included-image img {
    width: 335px;
    height: 430px;

    margin: 0 70px;
}

.included-list {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    text-align: left;

    /* line-height: 40px; */
}

.included-list li {
    margin-bottom: 16px;
    color: rgb(76, 82, 125);
}

#included-button {
    border: none;
    outline: none;
    border-radius: 32px;

    width: 200px;
    height: 50px;
    line-height: 16px;
    padding: 14px 30px;

    font-size: 16px;
    font-weight: 600;

    background-color: rgb(237, 101, 36);
    color: white;
}

.included-list li svg {
    width: 17px;
    height: 17px;

    vertical-align: middle;
    margin-right: 10px;

    line-height: 27px;
}







.for {
    padding: 110px 80px;
    text-align: center;
}

.for-title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

.for-explain {
    width: 516px;
    margin: 0 auto;
    color: rgb(76, 82, 125);
    margin-bottom: 48px;
}

.for-list li {
    width: 500px;
    margin: 0 auto;

    text-align: left;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    margin-bottom: 20px;
}

.for-list svg {
    width: 40px;
    margin: 8px 10px;
}

.for-list-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.for-list-title {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 700;
}

.for-list-explain {
    color: rgb(76, 82, 125);
}




.preview {
    width: 664px;
    padding: 48px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(246, 248, 252);
}

.preview-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 8px;
}

.preview-explain {
    color: rgb(76, 82, 125);

    margin-bottom: 16px;
}

.preview-email form {
    display: flex;
}

.preview-email form input {
    padding: 14px 12px;
    margin-right: 4px;
    height: 26px;
    flex-grow: 3;

    border: none;
    outline: none;
    border: 0.8px solid #e3e9f6;
    border-radius: 6px;
    color: rgb(28, 30, 46);

    font-size: 16px;
}

#preview-email-button {
    padding: 14px 24px;
    background-color: rgb(237, 101, 36);
    color: white;
    flex-grow: 1;

    font-size: 16px;

    border-radius: 4px;
}







.review {
    padding: 110px 0 40px;
    text-align: center;
}

.review-title {
    font-size: 40px;
    font-weight: 700;
}

.review-explain {
    width: 760px;
    margin: 0 auto;

    color: rgb(76, 82, 125);
    font-size: 20px;
    font-weight: 400;
}

.review-list {
    margin-top: 50px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.review-list li {
    position: relative;
    margin: 25px 15px;
}

.review-list-quotation {
    width: 36px;
    height: 36px;
    padding-top: 8px;
    box-sizing: border-box;

    background-color: rgb(245, 167, 130);
    border-radius: 50%;

    text-align: center;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.review-list-quotation svg {
    width: 14px;
}

.review-list-content {
    width: 360px;
    background-color: rgb(246, 248, 252);
    color: rgb(76, 82, 125);

    padding: 24px;

    text-align: left;
}

.review-list-text {
    font-style: italic;
}

.review-list-profile {
    display: flex;
    align-items: center;

    margin-top: 20px;
}

.review-list-profile img {
    width: 60px;
    height: 60px;

    margin-right: 20px;
}


.review button {
    padding: 14px 40px;
    background-color: rgb(237, 101, 36);
    color: white;

    border-radius: 32px;

    font-size: 15px;
    font-weight: 600;
}




.author {
    padding: 48px 0;
    color: white;
    background-color: rgb(237, 101, 36);

    text-align: center;
}

.author-image img {
    width: 150px;
    height: 150px;
    margin-bottom: 50px;
}

.author-title {
    font-size: 40px;
    font-weight: 700;

    margin-bottom: 16px;
}

.author-explain {
    text-align: left;
    width: 760px;
    margin: 0 auto 16px;
}

.author-explain span {
    font-weight: 600;
}

.author-explain span.author-explain-link {
    text-decoration: underline;
    cursor: pointer;
}

.author-follow {
    padding-top: 24px;
}

.author-follow-title {
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 700;
}

.author-follow-sns {
    display: flex;
    justify-content: center;
}

.author-follow-sns li {
    width: 36px;
    height: 36px;
    padding-top: 7px;
    box-sizing: border-box;

    margin: 0 4px;

    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    cursor: pointer;
}

.author-follow-sns li svg {
    height: 16px;
}


.footer {
    padding: 48px 0;
    color: rgb(76, 82, 125);
    text-align: center;
    font-size: 14px;
}

.footer span {
    text-decoration: underline;
    cursor: pointer;
}

.footer span:hover {
    color: #ed6524;
    text-decoration-color: rgba(237, 101, 36, 0.8);
}



@media screen and (max-width: 950px) {
    .GNB~div {
        padding: 0 70px;
    }

    .main {
        /* width: 100vw; */
        flex-direction: column;
    }

    .main-right {
        margin: 70px auto;
    }

    .main-left-title {
        /* width: 100vw; */
        font-size: 32px;
    }

    .main-left-explain {
        font-size: 18px;
        width: 560px;
    }

    .main-left-button {
        text-align: center;
    }

    .main-left-button button {
        width: 80vw;
        margin-bottom: 15px;
    }

    .get {
        /* padding: 0 70px; */
        margin: 100px 0;
    }

    .get-title {
        font-size: 28px;
    }

    .get-explain {
        width: 520px;
        font-size: 18px;
    }

    .get-section>div {
        width: 100%;
    }

    .get-section-title {
        margin: 15px 0;
    }

    .included-title {
        font-size: 28px;
    }

    .included-image {
        width: 100%;
    }

    .included-image img {
        width: 90%;
        height: 90%;
    }

    .included-list li {
        font-size: 18px;
    }

    .included-list svg {
        width: 18px;
    }

    #included-button {
        margin-top: 30px;
    }

    .included {
        margin-bottom: 130px;
    }

    .for {
        margin: 100px 0;
    }

    .for-title {
        font-size: 28px;
    }

    .for-explain {
        font-size: 18px;
        width: 90%;
        margin: 0 auto 48px;
    }

    .for-list svg {
        width: 40px;
    }

    .preview {
        padding: 48px 70px !important;
        width: 60%;
        height: auto;

        box-sizing: content-box;
    }

    .preview-title {
        font-size: 28px;
    }

    .preview-explain {
        font-size: 16px;
    }

    .preview-email form {
        flex-direction: column;
        align-items: stretch;
    }

    .preview-email input {
        margin: 15px 0;
    }

    .review {
        margin: 110px auto;
    }

    .review-title {
        font-size: 28px;
        margin-bottom: 12px;
    }

    .review-explain {
        width: 90%;
    }

    .review-list li {
        width: 100%;
        position: relative;
    }

    .review-list-content {
        width: 80%;
        margin: 0 auto;
    }

    .review-list-text {
        font-size: 16px;
    }

    .review-list-profile {
        display: block;
        text-align: center;
        margin-top: 5px;
    }

    .review-list-profile img {
        margin: 5px 0;
    }

    .review-list-profile {
        font-size: 14px;
    }

    .author {
        padding: 48px 70px !important;
    }
    .author-title {
        font-size: 28px;
    }
    .author-explain {
        width: 100%;
    }

    .footer {
        padding: 48px !important;
    }
}