body {
    width: 100vw;
    margin: 0 auto;
    background: rgb(226, 226, 226);
    text-align: center;
}

.main {
    display: inline-block;

    margin: 30px;
    text-align: center;

}

.main > div {
    display: inline-block;
    vertical-align: middle;
    margin: 30px 10px;

    width: 400px;
    height: 500px;
    text-align: left;
}

.main .image {
    /* border: 1px border black; */
    
    background-color: white;
    background-image: url("https://m.zzixx.com/static/mobile/photo/01.jpg");
    background-position: center;
    background-repeat: no-repeat;

    margin: 30px;
    padding: 60px 50px;
}

.main .text {
    /* border: 1px solid black; */
   
    background-color: white;
    font-size: 18px;
    line-height: 180%;

    padding: 60px 50px;
}

.readmore {
    display: inline-block;
    border: 1px solid black;
    padding: 4px 12px;
    margin: 20px 0;
}