body {
    margin: 0px;
    width: 100vw;
}
.back {
    background-color: rgb(168, 168, 168);
    height: 500vh;
}

.GNB {
    display: inline-block;
    width: 100vw;
    height: 100px;
    /* border: 1px solid red; */
    box-sizing: border-box ;
    text-align: center;

    padding: 20px 0px;
    position: sticky;
    top: 0;

    z-index: 999;
    background-color: white;

    /* background-color: rgba(0, 0, 0, 0.425);
    color: white; */
}
.GNB div {
    /* border: 1px solid blue; */
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.GNB .menu div {
    font-size: 20px;
    font-weight: 500;
    margin: 0px 60px;
    height: 80px;
    line-height: 80px;
}
.GNB .lan {
    font-size: 20px;
    font-weight: 600;
    margin: 0px 0px 0px 60px;
}
.GNB .hide {
    display: none;
    width: 100vw;
    height: 335px;
    /* border: 1px solid red; */
    text-align: center;
    background-color: #ffffffad;
}
.hide #start>div {
    display: inline-block;
    /* border: 1px solid blue; */
    text-align: center;
    vertical-align: top;
}
#start {
    display: inline-block;
    /* border: 1px solid green; */
    width: 830px;
    height: 100%;
    position: relative;
}
#start .info {
    position: absolute;
    top: 10px;
    left: 103px;
}
#start div>div {
    display: block;
    margin: 10px;
}
#start .project {
    position: absolute;
    top: 10px;
    left: 309px;
}
#start .hire {
    position: absolute;
    top: 10px;
    left: 513px;
}
#start .notice {
    position: absolute;
    top: 10px;
    left: 710px;
}
.GNB:hover .hide {display: block; position: absolute;}

.main {
    display: inline-block;
    width: 100vw;
    text-align: center;
}
.text {
    margin-top: 270px;
}
.text [id] {
    color: white;
    text-shadow: 1px 1px 10px rgb(102, 102, 102);
}
.text #first {
    font-size: 30pt;
}
.text #middle {
    font-size: 55pt;
    font-weight: 800;
    margin: 25px 0;
}
.text #last {
    font-size: 30pt;
    font-weight: 600;
}



