/* 바디의 기본 마진 없애기 */
body {margin: 0px; padding: 0px;} /* reset CSS */

.first {
    border: 1px solid red;

    width: 150px;
    height: 200px;
    
}
.second {
    /* border: 1px solid red; */

    width: 150px;
    height: 200px;

    /* margin : border 바깥 영역 */
    margin-top: 50px;
    margin-right: 40px;
    margin-bottom: 30px;
    margin-left: 20px;
    /* 위에서부터 시계 방향으로 돌아오는 게 좋음 */
        /* 중복되면 밑에 거로 덮어쓰기됨 */

    /* margin 축약형 */
    /* 4개일 때 : top right bottom left 순서 */
    margin: 20px 30px 40px 50px; /* 쉼표 사용하지 않고 띄어쓰기로 구분 */
    /* 3개일 때 : top 좌우 bottom */
    margin: 30px 10px 35px;
    /* 2개일 때 : 상하 좌우 */
    margin: 20px 40px;
    /* 1개일 때 : 상하좌우 */
    margin: 30px;

    /* padding : border 안쪽 영역 */
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 5px;

    /* 축약형 (시계방향) */
    padding : 5px 10px 15px 20px;

    /* border 두께, 스타일, 색 모두 적용되어야 나타남*/
    border-top-width: 3px;
    border-top-style: dotted;
    border-top-color: blue;
    /* 축약형 : 두께, 스타일, 색 순서 */
    border-right : 2px dashed green;
    border : 1px solid red; /* 네 방향 */
    /* border-left : 2px none purple;  */
    /* 3개 다 사용하지 않으므로써 지우기로 덮어쓰기 가능 */
    /* none, hidden 은 두께 0으로 동일 */
    /* 경계선은 대각선으로 나옴 */

    /* 둥근 모서리 */
    border-radius : 10px;
    border-top-left-radius: 0px;
}

.profile img {
    border: 1px solid #000;
    width: 200px;
    height: 200px;
    border-radius: 50%; /* 50% 이상은 원이 됨 */
    border-top-right-radius: 0%;
    margin : 10px 20px;
}

.chat-right {
    border : 1px solid #000;
    background-color: yellow;
    width: 100px;
    padding: 5px;
    margin: 10px 10px 10px 100px;
    text-align: center;
    border-radius: 10px 0px 10px 10px;
}
.chat-left {
    border : 1px solid #000;
    background-color: yellow;
    width: 100px;
    padding: 5px;
    margin: 10px 100px 10px 10px;
    text-align: center;
    border-radius: 0px 10px 10px 10px;
}

.width {
    border: 1px solid red;
    width: 70%;
    min-width: 500px;
    max-width: 600px;
}

#auto {
    border: 1px solid red;
    width: 100px;

    /* 상하=0 좌우=auto - 상하 auto는 안 됨 */
    margin: 0 auto; /* = margin: auto */
    /* 전체 페이지를 div로 묶어서 margin auto 사용해서 가운데 정렬 */
}

#div1, #div2, #div3 {
    /* border: 1px solid red; */
}

/* margin 중첩
: 새로 방향으로 붙어 있거나, 부모와 첫 번째 자식 간에 붙어있을 때
 마진이 더해지지 않고 겹쳐서 큰 값 하나만 적용되는 현상. 좌우는 중첩되지 않음 */
#div2, #div3 { margin: 30px; }
/* #div2 {overflow: hidden;} 자식 간에는 overflow 해결 안 됨 */
#div3 {margin: 50px;}
#div1 {
    margin: 10px;
    /* padding: 1px; */
    overflow: hidden;
}
/* #div2 {margin: -1px;} 원래 위치로 복귀 */

/* 해결방법 (1~3은 좋은 방법은 아님)
    - 이유 : 부모하고 자식 사이에 아무것도 없어서 생기는 문제. 점이라도 하나 찍으면 중첩 사라짐
    1. border
    2. padding : 크기와 상관 없이 padding만 적용되면 됨 > 밀리기 때문에 -마진을 줄 수 있음
    3. 컨텐츠 적기 (점이나 공백이라도)
    4. 부모에 overflow: hidden 주기
    */


/* box sizing */
.box {
    border: 10px solid red;
    width: 300px;
    height: 300px;
    padding: 20px;
    margin: 50px;

    box-sizing: border-box;
}
.box-sizing {
    padding: 50px;

    box-sizing: border-box;
    /* 원래는 컨텐츠 영역만 box-size였는데, 얘는 border 영역까지 box-size로 포함함 */
    /* padding, 테두리 만큼 차이가 남 -> 양쪽 다 박스사이징! */
}
