body {
    /* width: 100vw; */
    margin: 0px;
}

.back {
    margin: 0 auto;
    /* border: 1px solid red; */
    background-color: lightgoldenrodyellow;
}


.GNB {
    height: 70px;
    /* border: 1px solid blue; */
    background-color: rgb(231, 255, 231);
    position: sticky;
    top: 0;
}
.GNB>div {
    border: 1px solid pink;
    display: inline-block;
}
.GNB #logo {
    width: 100px;
    height: 50px;
    vertical-align: center;
}
.GNB .menu [id] {
    border: 1px solid pink;
    display: inline-block;
    vertical-align: center;
}
.GNB #hammenu {
    width: 40px;
    height: 40px;
    vertical-align: center;
}

.main {
    height: 100vw;
}

.main .loginbox {
    display: inline-block;
    border: 1px dashed blue;
    width: 250px;
    height: 190px;
    margin: 40px;
    text-align: center;
}
.main .loginbox .loginbutton {
    margin: 10px;
    text-align: left;
}

/* display td 주기 */
#ID, #PW {
    display: table-cell;
    border: 1px solid blue;
    width: 30px;
    font-size: 14px;
}
#IDinput, #PWinput {
    display: table-cell;
    border: 1px solid blue;
    font-size: 15px;
}

.main .loginbox .exbutton [id] {
    display: inline-block;
    border: 1px solid blue;
    font-size: 12px;
    padding: 3px 7px;
}





